.todo-container {
    text-align: center;
    margin-top: 40px;
    font-family: math;
}

.todo-title {
    font-size: 40px;
    color: #ffcd4a;
    margin-bottom: 8px;
}

.todo-data {
    border: 1px solid #ccc;
    display: inline-block;
    margin-top: 16px;
    text-align: left;
    padding: 12px;
    width: 600px;
    line-height: 1.6;
    border-radius: 5px;
}

.todo-item {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    margin-left: 8px;
}

/* React Logo */
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(60deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}